/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* COLORS */
  --clr-primary: hsl(0, 14%, 1%);
  --clr-secondary: hsl(0, 0%, 19%);
  --clr-secondary-light: hsla(0, 0%, 19%, 0.233);
  --clr-gray: hsl(0, 0%, 47%);
  --clr-gray-light: hsl(0, 0%, 73%);
  --clr-maroon: hsl(0, 71%, 15%);
  --clr-white: hsl(0, 0%, 95%);
}

body {
  color: var(--clr-primary);
}

ul,
a {
  text-decoration: none;
  list-style: none;
  color: var(--clr-primary);
}
